<div class="limit-height">

    <clr-datagrid>
        <clr-dg-column>ID</clr-dg-column>
        <clr-dg-column [clrDgField]="'vehicle'">Vehicle</clr-dg-column>
        <clr-dg-column [clrDgField]="'phone'">Issue Number</clr-dg-column>
        <clr-dg-column [clrDgField]="'email'">summary</clr-dg-column>
        <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
        <clr-dg-column [clrDgField]="'date'">Reported Date</clr-dg-column>
        <clr-dg-column [clrDgField]="'assigned'">Assgined To</clr-dg-column>
        <clr-dg-column [clrDgField]="'updatedDate'">Updated Date</clr-dg-column>

        <clr-dg-row *clrDgItems="let user of issues">
            <clr-dg-cell>{{user.id}}</clr-dg-cell>
            <clr-dg-cell>{{user.vehicle}}</clr-dg-cell>

            <clr-dg-cell>#{{user.issueNumber}}</clr-dg-cell>
            <clr-dg-cell>{{user.summary}}</clr-dg-cell>

            <clr-dg-cell
                *ngIf="user.status==true"
                style="background-color: rgb(97, 10, 10); color: #fff;">Open
                <clr-icon shape="user" class="is-solid has-badge--success"></clr-icon>
            </clr-dg-cell>
            <clr-dg-cell
                *ngIf="user.status==false"
                style="background-color: rgb(10, 97, 43); color: #fff;">Close
                <clr-icon shape="user" class="is-solid has-badge"></clr-icon>
            </clr-dg-cell>

            <clr-dg-cell
                *ngIf="user.status==undefined"
                style="background-color: rgb(173, 163, 20); color: #fff;">Overdue
                <clr-icon shape="user" class="is-solid has-badge"></clr-icon>
            </clr-dg-cell>

            <clr-dg-cell>{{user.date}}</clr-dg-cell>
            <clr-dg-cell>{{user.assigned}}</clr-dg-cell>
            <clr-dg-cell>{{user.updatedDate}}</clr-dg-cell>

            <clr-dg-action-overflow>

                <button class="action-item">
                    Edit
                </button>

                <br/>

                <button class="action-item" style="background-color: rgb(241, 187, 8);">
                    Change Status
                </button>

                <br/>

                <button class="action-item" style="background-color: red; color: #fff;">
                    Delete
                </button>
            </clr-dg-action-overflow>

        </clr-dg-row>

        <clr-dg-footer *ngIf="issues.length > 0">
            {{ pagination.firstItem + 1 }}
            -
            {{ pagination.lastItem + 1 }}
            of
            {{ pagination.totalItems }}
            Users
            <clr-dg-pagination #pagination [clrDgTotalItems]="issues.length"></clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>

</div>