<div class="card">
  <div class="card-block">
      <h3>
          <clr-icon shape="switch" size="28"></clr-icon>Inspections
      </h3>
      <br/>

      |
      <a routerLink="/admin/inspections">
        Go Back
      </a>
      |


  </div>
</div>





<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">

              <h5  class="card-title font-weight-bold text-uppercase text-muted mb-0" style="background-color: rgb(16, 211, 146);">Inspection Details</h5>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Vehicle</h3>

                    </div>
                    <div class="col-xl-6">
                   <p>ABC-2363</p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 ">
                      <h3>Inspection Form Id</h3>

                  </div>
                  <div class="col-xl-6">
                 <p>68334Ff4</p>
                  </div>
              </div>
              <div class="row">
                <div class="col-xl-6 ">
                    <h3>Submitted</h3>

                </div>
                <div class="col-xl-6">
               <p>Fri 5 2021</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xl-6 ">
                  <h3>submittion Source</h3>

              </div>
              <div class="col-xl-6">
             <p>Puma Garage</p>
              </div>
          </div>
          <div class="row">
            <div class="col-xl-6 ">
                <h3>User</h3>

            </div>
            <div class="col-xl-6">
           <p>Tatenda</p>
            </div>
        </div>

            </div>
        </div>
    </div>




    <div class="col-xl-8 col-lg-8">
      <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">

            <h5  class="card-title font-weight-bold text-uppercase text-muted mb-0" style="background-color: rgb(117, 228, 13);">Inspection Items</h5>
              <div class="row">
                  <div class="col-xl-6 ">
                      <h3>Odometer Reading</h3>

                  </div>
                  <div class="col-xl-6">
                 <p style="background-color: rgb(199, 165, 15);">250Km</p>
                  </div>
              </div>
              <div class="row">
                <div class="col-xl-6 ">
                    <h3>Engine</h3>

                </div>
                <div class="col-xl-6">
               <p style="background-color: rgb(230, 134, 134);">Fail</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xl-6 ">
                  <h3>	Oil life left</h3>

              </div>
              <div class="col-xl-6">
             <p style="background-color: rgb(15, 199, 144);">60</p>
              </div>
          </div>
          <div class="row">
            <div class="col-xl-6 ">
                <h3>fuel level</h3>

            </div>
            <div class="col-xl-6">
           <p style="background-color: rgb(15, 199, 144);">Full</p>
            </div>
        </div>
        <div class="row">
          <div class="col-xl-6 ">
              <h3>Transmission</h3>

          </div>
          <div class="col-xl-6">
         <p style="background-color: rgb(230, 134, 134);">Fail</p>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-6 ">
              <h3>Clutch</h3>

          </div>
          <div class="col-xl-6">
         <p style="background-color: rgb(230, 134, 134);">Fail</p>
          </div>

</div>

<div class="row">
  <div class="col-xl-6 ">
      <h3>Steering Mechanism</h3>

  </div>
  <div class="col-xl-6">
 <p style="background-color: rgb(230, 134, 134);">Fail</p>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 ">
      <h3>Horn</h3>

  </div>
  <div class="col-xl-6">
 <p style="background-color: rgb(230, 134, 134);">Fail</p>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 ">
      <h3>Windscreen wipers</h3>

  </div>
  <div class="col-xl-6">
 <p style="background-color: rgb(230, 134, 134);">Fail</p>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 ">
      <h3>Fuel Injectorts</h3>

  </div>
  <div class="col-xl-6">
 <p style="background-color: rgb(230, 134, 134);">Fail</p>
  </div>
</div>

<div class="row">
  <div class="col-xl-6 ">
      <h3>Spark plugs</h3>

  </div>
  <div class="col-xl-6">
 <p style="background-color: rgb(230, 134, 134);">Fail</p>
  </div>
</div>

          </div>
      </div>
  </div>



</div>
