
<app-fuel-form>
  
</app-fuel-form>
<div class="row">
  <div class="col-xl-6 col-lg-6" >
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Last Temp Reading</h5>
            <span class="h5 font-weight-bold mb-0">{{lasttemp}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-xl-6 col-lg-6" >
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Last Pulse Reading</h5>
            <span class="h5 font-weight-bold mb-0">{{lastpulse}}</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>






<div *ngIf='loader === false' class="row">
  <div  id="chart" style="width: 100%;" class="col-xl-12 col-lg-12">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [dataLabels]="chartOptions.dataLabels"
      [yaxis]="chartOptions.yaxis"
      [labels]="chartOptions.labels"
      [legend]="chartOptions.legend"
      [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle"
    ></apx-chart>
  </div>




  <div  id="chart2" style="width: 100%;" class="row"  class="col-xl-12 col-lg-12">
    <apx-chart
      [series]="chartOptions2.series"
      [chart]="chartOptions2.chart"
      [xaxis]="chartOptions2.xaxis"
      [stroke]="chartOptions2.stroke"
      [dataLabels]="chartOptions2.dataLabels"
      [yaxis]="chartOptions2.yaxis"
      [labels]="chartOptions2.labels"
      [legend]="chartOptions2.legend"
      [title]="chartOptions2.title"
      [subtitle]="chartOptions2.subtitle"
    ></apx-chart>
  </div>




</div>


<app-users-list>

</app-users-list>