<div class="card">
    <div class="card-block">
        <h3>
            <clr-icon shape="switch" size="28"></clr-icon>Booking Detail
        </h3>
        <br/>

        |
        <a routerLink="/admin/bookings">
            Go Back
        </a>
        |

    </div>
</div>

<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">

                <h5
                    class="card-title font-weight-bold text-uppercase text-muted mb-0"
                    style="background-color: rgb(16, 211, 146);">Booking Details</h5>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Vehicle</h3>

                    </div>
                    <div class="col-xl-6">
                        <p>ABC-4041</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Destination</h3>

                    </div>
                    <div class="col-xl-6">
                        <p>Warren PArk</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Pick-Up Point</h3>

                    </div>
                    <div class="col-xl-6">
                        <p>Five Avenue</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Travelling Date &Time</h3>

                    </div>
                    <div class="col-xl-6">
                        <p>3 Jun 2021 13:00</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Driver</h3>

                    </div>
                    <div class="col-xl-6">
                        <p>Tatenda</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Booked</h3>

                    </div>
                    <div class="col-xl-6">
                        <p>Kim Musenda :343IIU</p>
                        <p>Rutendo Rudado :244DFDFFV</p>
                        <p>Samantha Muvisi :32434</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-8 col-lg-8">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">

                <h5
                    class="card-title font-weight-bold text-uppercase text-muted mb-0"
                    style="background-color: rgb(117, 228, 13);">Pending Bookings</h5>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Takunda Moyo</h3>

                    </div>
                    <div class="col-xl-6">
                        <button class="btn btn-success">approve</button>   <button class="btn btn-danger">decline</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>Tino Kadewe</h3>

                    </div>
                    <div class="col-xl-6">
                        <button class="btn btn-success">approve</button>   <button class="btn btn-danger">decline</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 ">
                        <h3>
                            Desmond Mpofu</h3>

                    </div>
                    <div class="col-xl-6">
                        <button class="btn btn-success">approve</button>   <button class="btn btn-danger">decline</button>
                    </div>
                </div>
           
              

            </div>
        </div>
    </div>

</div>