<div class="limit-height">

  <clr-datagrid>
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Contact</clr-dg-column>
    <clr-dg-column [clrDgField]="'address'">Contact Renewal Type</clr-dg-column>
    <clr-dg-column [clrDgField]="'phone'">Next Due Date</clr-dg-column>
    
    <clr-dg-row *clrDgItems="let user of reminders">
      <clr-dg-cell>{{user.id}}</clr-dg-cell>
      <clr-dg-cell>{{user.contact}}</clr-dg-cell>
      <clr-dg-cell>{{user.renewaltype}}</clr-dg-cell>
      <clr-dg-cell>{{user.nextDueDate}}</clr-dg-cell>
      <clr-dg-action-overflow>


      <button class="action-item" >
        Edit
    </button>

    <button class="action-item" style="background-color: red; color: #fff;" >
        Delete
    </button>
    </clr-dg-action-overflow>


    </clr-dg-row>

    <clr-dg-footer *ngIf="reminders.length > 0">
      {{ pagination.firstItem + 1 }}
      -
      {{ pagination.lastItem + 1 }}
      of
      {{ pagination.totalItems }}
    Reminders       <clr-dg-pagination #pagination [clrDgTotalItems]="reminders.length"></clr-dg-pagination></clr-dg-footer>
  </clr-datagrid>

  </div>
